# Parsing PDF
pdfplumber
pymupdf4llm

# Embedding & reranker
sentence-transformers
torch

# Vector database
qdrant-client

# RAG framework
langchain
langchain-community
langchain-huggingface
langchain-qdrant
langchain-text-splitters
langchain-ollama

# Evaluasi
ragas

# Utilitas
python-dotenv
tqdm
numpy
pandas

